* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body,
html {
  color: goldenrod;
  /* background-color: #183C58; */
  background-color: #005387;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}